.hero {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logo {
  width: 200px;
  border-radius: 100%;
  border: 3px solid #fff;
  margin: 15px;
}

.hero-title {
  padding-bottom: 20px;
}

.hero-button {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-1px);
}

div#container {
  max-width: 75em;
  margin: 0 auto;
  color: #000;
}

body {
  height: 100%;
  width: 100%;
  color: #000;
  text-align: center;
}

i {
  transition: all 0.25s;
}

h1 {
  font-size: 2em;
  cursor: default;
}

.brand {
  border-radius: 50%;
  display: inline-block;
  max-width: 6em;
}

h2 {
  font-weight: thin;
  font-size: 3em;
}

.ceo {
  border: 5px solid #5ce5ff;
}

.medium {
  max-width: 70em;
  text-align: center;
  margin: auto;
}

.footer {
  color: #fff;
  background-color: #6bbcdc;
  padding: 4em;
}
