<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Personal Website - Bulma 0.7.1 Template</title>
  <script defer src="https://pro.fontawesome.com/releases/v5.0.10/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
</head>

<body>
  <div class="header-wrapper">
    <section class="hero is-large is-dark">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="subtitle">
            Hey there, I'm
          </h1>
          <h2 class="title">
            Ashley
          </h2>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-fullwidth">
            <ul>
              <li class="is-active">
                <a>Overview</a>
              </li>
              <li>
                <a>Modifiers</a>
              </li>
              <li>
                <a>Grid</a>
              </li>
              <li>
                <a>Elements</a>
              </li>
              <li>
                <a>Components</a>
              </li>
              <li>
                <a>Layout</a>
              </li>
            </ul>
        </nav>
      </div>
    </section>
  </div>

  <!-- main body content -->
  <div class="main-content">
    <div class="container">
      <div class="columns is-centered is-multiline has-text-centered">
        <div class="column is-6">
          <div class="post">
            <!-- post content -->
            <div class="content">
              <div class="content-header">
                <h3 class="title is-3">
                  <b>
                    <a href="post.html">Magicians are Crazy</a>
                  </b>
                </h3>
                <h4 class="title is-4 is-spaced">Some things are meant to suck the life out of you</h4>
                <h6 class="subtitle is-6">Posted by Author on April 7th 2017 at 9:33pm</h6>
                <hr/>
              </div>
            </div>
            <!-- end of post content -->
          </div>

          <div class="post">
            <!-- post content -->
            <div class="content">
              <div class="content-header">
                <h3 class="title is-3">
                  <b>
                    <a href="post.html">Crawling Over Sand</a>
                  </b>
                </h3>
                <h4 class="title is-4 is-spaced">Tricks to crawl correctly!</h4>
                <h6 class="subtitle is-6">Posted by Author on April 2nd 2017 at 10:41am</h6>
                <hr/>
              </div>
            </div>
            <!-- end of post content -->
          </div>

          <div class="post">
            <!-- post content -->
            <div class="content">
              <div class="content-header">
                <h3 class="title is-3">
                  <b>
                    <a href="post.html">Old People Work Hard</a>
                  </b>
                </h3>
                <h4 class="title is-4 is-spaced">At least I believe they do</h4>
                <h6 class="subtitle is-6">Posted by Author on April 1st 2017 at 11:00pm</h6>
                <hr/>
              </div>
            </div>
            <!-- end of post content -->
          </div>

          <div class="post">
            <!-- post content -->
            <div class="content">
              <div class="content-header">
                <h3 class="title is-3">
                  <b>
                    <a href="post.html">Apples Are Real</a>
                  </b>
                </h3>
                <h4 class="title is-4 is-spaced">Apples are born from apples</h4>
                <h6 class="subtitle is-6">Posted by Author on March 20th 2017 at 9:00am</h6>
                <hr/>
              </div>
            </div>
            <!-- end of post content -->
          </div>

          <!-- pagingation -->
          <nav class="has-text-right">
            <a class="pagination-next" disabled>Newer Posts</a>
            <a class="pagination-previous">Older Posts</a>
          </nav>
          <!-- end of pagination -->
        </div>
      </div>
    </div>
  </div>
  <!-- end of main content -->

  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="has-text-centered">
        <!-- nav icons -->
        <div class="nav-center">
          <a class="nav-item">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
          <a class="nav-item">
            <span class="icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
          <a class="nav-item">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </div>
        <!-- end of nav icons -->
        <p>template by
          <a href="http://github.com/plasticneko">github.com/plasticneko</a>
        </p>
      </div>
    </div>
  </div>
  <!-- end of footer -->
</body>

</html>