@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script');
$brand-primary: rgb(31,44,108);
$text-primary: rgb(60, 65, 114);



.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}