@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Dosis|Montserrat:600");
* {
  box-sizing: border-box;
}

html {
  font-family: 'Dosis', sans-serif;
}

.input,
.textarea {
  padding-top: 6px;
  padding-left: 10px;
}

.header-wrapper {
  padding-bottom: 30px;
}

.hero {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

.hero-foot .hero-foot--wrapper {
  width: 500px;
  margin: 0 auto;
}

.hero-foot .hero-foot--wrapper .tabs {
  line-height: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero-foot .hero-foot--wrapper .tabs ul .is-active a {
  color: #119ecd !important;
}

.hero-foot .hero-foot--wrapper .tabs ul a {
  color: #4a4a4a !important;
}

.hero-foot .hero-foot--wrapper .tabs ul a:hover {
  color: #119ecd !important;
  transition: all .2s ease-in-out;
}

.hero {
  background-color: transparent;
}

.hero .title {
  font-family: 'Kaushan Script', sans-serif;
  transform: rotate(-5deg);
  font-size: 5rem;
  color: whitesmoke;
}

.hero .subtitle {
  font-family: 'Dosis', sans-serif;
}

/* navigation */
.nav {
  background-color: transparent;
}

.nav a {
  color: whitesmoke;
}

a.nav-item:hover,
a.nav-item:active,
a.nav-item:link,
a.nav-item:visited {
  color: whitesmoke;
}

/* main content */
.main-content {
  padding-top: 2rem;
}

/* box */
.box {
  padding: 30px;
}

/* content-header */
.content-header {
  padding-bottom: 10px;
}

.content-header .subtitle {
  color: #9a9a9a;
}

/* pagination */
.pagination-link.is-current,
.pagination-next,
.pagination-previous {
  border: 1px solid #dbdbdb;
  background-color: white;
  color: #000;
}

/* icon */
.icon .fa {
  font-size: 1.5em;
}

.icon {
  padding: 15px;
}

/* post */
.post {
  padding-bottom: 50px;
}

.post a {
  color: #000;
}

/* footer */
.footer {
  margin-top: 2rem;
}

.footer p a {
  color: #4a4a4a;
}

.footer p a:hover {
  color: #000;
}

.footer a.nav-item:hover {
  color: #000;
}

.footer a.nav-item {
  color: #9a9a9a;
}
