@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600");
* {
  box-sizing: border-box;
}

a {
  color: #1490a6;
}

h1 {
  font-size: 2rem;
}

.hero {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hero .logo {
  width: 200px;
  border-radius: 100%;
  border: 3px solid #fff;
  margin: 15px;
}

.hero .hero-title {
  padding-bottom: 20px;
}

.intro {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 3rem;
}

.card {
  border-radius: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.card a {
  color: #333;
}

.card a:hover {
  color: #1490a6;
  transition: all .1s ease-in-out;
}

.card .card-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-foot {
  min-height: 120px;
  color: #fff;
  background-color: #1490a6;
  margin-top: 4rem;
}

.page-foot p {
  padding-top: 25px;
}
