@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600');
$accent: #39cde7;
$accentDarker: darken($color: $accent,
$amount: 20);
* {
    box-sizing: border-box;
}

a {
    color: $accentDarker;
}

h1 {
    font-size: 2rem; 
}
.hero {
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .logo {
        width: 200px;
        border-radius: 100%;
        border: 3px solid #fff;
        margin: 15px;
    }
    .hero-title {
        padding-bottom: 20px;
    }
}


.intro {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 3rem;
}

.card {
    border-radius: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    a {
        color: #333;
        &:hover {
            color: darken($color: $accent, $amount: 20);
            transition: all .1s ease-in-out;
        }
    }
    .card-image img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.page-foot {
    min-height: 120px;
    color: #fff;
    background-color: $accentDarker;
    margin-top: 4rem;
    p {
        padding-top: 25px;
    }
}