@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto+Mono:300,400');
$darkBG: #222941;
$darkAccent: #2e3756;

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(rgba(34, 41, 65, 0.45), rgba(46, 55, 86, 0.45)), url('https://picsum.photos/id/184/1920/1080');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-head {
  header {
    height: 75px;
    .navbar-item {
      img {
        height: 75px;
        max-height: none;
      }
      .is-primary {
        border-color: white !important;
        color: white !important;
        &:hover {
          background: rgba(0, 0, 0, 0) !important;
          border-color: white !important;
          color: white !important;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
}

.hero-body {
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
    font-size: 4rem !important;
    letter-spacing: 15px;
    color: #ffffff !important;
  }
  .subtitle {
    .countdown {
      color: #ffffff;
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      padding-top: 15px;
      letter-spacing: 2px;
      font-size: 2rem;
    }
  }

}
.hero-foot {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  ul li {
    display: inline;
    padding: 25px;
  }
  a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .7rem;
  }
}

/* -------------------- */
/* -- Animations CSS -- */
/* -------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade.fadeOne {
  animation-delay: 1.7s;
}

.fade.fadeTwo {
  animation-delay: 2.2s;
}

.fade.fadeThree {
  animation-delay: 4.2s;
  span {
    font-size: .8rem;
  }
}