@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script');
$brand-primary: #9B000E;
$text-primary: #25242d;



.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

