<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Butcher - Restaurant One Page HTML Theme</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/vendor/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.min.css" />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500|Cairo|Vast+Shadow&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="https://github.com/emkelley"
          alt="See more on GitHub"
        >
          Butcher Landing
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Shop
          </a>
          <a class="navbar-item">
            Recipes
          </a>
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <a class="navbar-item">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
    </nav>
    <section class="hero is-link is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <p class="a-title has-text-centered">
            Butcher
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
